#site-header {
    padding-left: 2em;
    padding-top: 2em;
}
#mailing {
    margin-top: -1em;
}
#title {
    color: #1b95e0;
}
#post-block {
    padding-left: 2em;
    padding-right: 2em;
}
#content-block {
    padding-left: 2em;
}
#back-button {
    font-size: 2em;
    color: #12708a;
}
#shareable-box {
    padding-left: 5.5em;
    padding-bottom: 1.5em;
    font-size: small;
}
#shareable-link {
    text-decoration: none;
}
pre.prettyprint {
    border: none !important;
}
@media screen and (max-width: 1100px) {
  #not-mobile {
    visibility: hidden;
    display: none;
  }
}
@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}
